/* Scss Document */



/* Color Variables*/
$base: #103C47;
$fill: #31939C;
$text: #FFF7E0;
$font:   Arial, Helvetica, sans-serif;
$fontSizeBig:250%;
$fontSizeSmall:125%;
$fontSizeMed:150%;
$darken: 15%;
$lighten:7.5%;




/*Mixins*/

@mixin bigFont{
font-size:$fontSizeBig;	
color:$text;
font:$font;
text-decoration:none;
}
@mixin medFont{
font-size:$fontSizeMed;
color:$text;
font:$font;
text-decoration:none;
}

@mixin smallFont{
font-size:$fontSizeSmall;
color:$text;
font:$font;
text-decoration:none;
	
}

/* Coding */

body{
 background-color:$base;
}
header{
 width: 80%;
 margin:auto;
 text-align: center;
 background-color:$fill; 
 padding:15px;
 margin-top:25px;
 float:left;
margin-left:8.5%;
@include bigFont;

}

nav{
 background-color:$fill;
 width: 80%;
 margin:auto;
 padding:15px;
 border:1px solid $base;
 float:left;
margin-left:8.4%;

}
ul li {
display:inline-block;
text-decoration:none;
padding:2%;	
}

li a{
	@extend h2;
}
h2{
	@include medFont;
}
.main{
width:80%;

border: 5px solid $fill;
margin:auto;
padding:10px;
margin-top:5px;
float:left;
margin-left:8.5%;
 p{
	@include smallFont; 
 }
}

 footer{
 background-color:$fill;
 width: 80%;
 margin:auto;
 margin-top:5px;
 padding:15px;
 float:left;
margin-left:8.5%;

 	p{
	@include medFont;
	}
 }
 .email{
	color: $text;
	text-decoration:none;	
	
}

.text{
padding:10px;
width:45%;	
background-color:darken($fill, $darken);
float:left;

}
img{
	 width: 45%;
    height: auto;
	float:right;
	
	border: 10px solid (lighten($base, $lighten));

}
.me{
width:100%;
float:left;	
background-color:lighten($base, $lighten);
margin-bottom:10px;
}

.me-text{
padding:10px;
width:45%;	

float:left;	

}
.extraCredit{
@extend .text;	
float:right;
}

/*EXTRA CREDIT*/

