/* Scss Document */



/* Color Variables*/
$base: #103C47;
$fill: #31939C;
$text: #FFF7E0;
$font:   Arial, Helvetica, sans-serif;
$darken: 15%;

/* Coding */

body{
 background-color:$base;
}
header{
 width: 80%;
 margin:auto;
 text-align: center;
 background-color:$fill;
 color: $text;  
 padding:15px;
 margin-top:25px;
 font: 250% $font;
}
nav{
 background-color:$fill;
 width: 80%;
 margin:auto;
 padding:15px;
 border:1px solid $base;
}
ul li {
display:inline-block;
text-decoration:none;
padding:2%;	
}
li a{
	 font: 150% $font;
	color: $text;
	text-decoration:none;
}
.main{
width:80%;
border: 5px solid $fill;
margin:auto;
padding:10px;
margin-top:5px;
 p{
	font: 100% $font;
	color: $text; 
 }
}

 footer{
 background-color:$fill;
 width: 80%;
 margin:auto;
 margin-top:5px;
 padding:15px;
 
 	p{
	font: 150% $font;
	color: $text;
	text-decoration:none;
	}
 }
 .email{
	color: $text;
	text-decoration:none;	
	
}
h2{
	font: 150% $font;
	color: $text;
}
.text{
padding:10px;
width:45%;	
background-color:darken($fill, $darken);
}