/* Scss Document */



/* Color Variables*/
$base: #103C47;
$fill: #31939C;
$text: #FFF7E0;



/* Coding */

body{
 background-color:$base;
}
header{
 width: 80%;
 margin:auto;
 text-align: center;
 background-color:$fill;
 color: $text;  
 font-size:250%;
 padding:15px;
 margin-top:25px;
}
nav{
 background-color:$fill;
 width: 80%;
 margin:auto;
 padding:15px;
 border:1px solid $base;
}
ul li {
display:inline-block;
text-decoration:none;
padding:15px;	
}
li a{
	font-size:150%;
	color: $text;
	text-decoration:none;
}
.main{
width:80%;
border: 5px solid $fill;
margin:auto;
padding:10px;
margin-top:5px;
	
}
footer{
 background-color:$fill;
 width: 80%;
 margin:auto;
 margin-top:5px;
 padding:15px;
}
footer p {
	font-size:150%;
	color: $text;
	text-decoration:none;
	
}
.email{
	color: $text;
	text-decoration:none;	
	
}